body{
    background-image: url("https://cdn3.vectorstock.com/i/1000x1000/67/07/cute-cat-and-floral-pattern-background-vector-21116707.jpg");
    background-size:  cover;
}
#meow{
    width: auto;
    height: 300px;
}